<h2> Recipe Ingredients </h2>


<% @recipe.ingredients.each do |ingredient| %>
    <div id="ingredients-<%= ingredient.id%>">
    <p>Ingredient: <%= ingredient.name %> </p>
    <p>Cost: <%= ingredient.cost %> </p>
    </div>
<%end%>

<h3> Total Cost: <%= @ingredient.total_cost %> </h3>