<h2> Ingredients Index <h2>

<% @ingredients.each do |ingredient| %>
    <div id="ingredients-<%= ingredient.id%>">
    <p> <%= "#{ingredient.name}: #{ingredient.recipe_count}" %> </p>
    <p>Cost: <%= ingredient.cost %> </p>
    </div>
<%end%>